name: build plugin

on:
  push:
    tags:
      - v*

jobs:
#   test:
#     name: Run Unit Tests
#     runs-on: ubuntu-18.04

#     steps:
#       - uses: actions/checkout@v2.3.4
#       - name: set up JDK 1.8
#         uses: actions/setup-java@v1
#         with:
#           java-version: 1.8
#       - name: Unit tests
#         run: bash ./gradlew test --stacktrace

  plugin:
    name: Generate plugin
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2.3.4
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build plugin
        run: bash ./gradlew assemble --stacktrace
      - name: Upload plugin
        uses: ncipollo/release-action@v1.5.0
        with:
          artifacts: "build/distributions/*.zip"
          token: ${{ secrets.RELEASE_TOKEN }}
